<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-list">
  <div class="add_CollectionList">
    {% render 'add_brand-list' %}
  </div>
</section>

{% schema %}
{
  "name": "add Brand list",
  "max_blocks": 18,
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "add Brand list"
    }
  ]
}
{% endschema %}