.add_header_sp {
  display: none;
}

@media screen and (max-width: 1139px) {
  .add_header_pc {
    display: none;
  }
  .add_header_sp {
    display: block;
    background: #ffffff;
  }
  .add_header_top {
    padding: 10px 10px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .add_header_logo {
    width: 80px;
    margin-bottom: 0;
  }
  .add_header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .add_header_nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 100%;
    position: relative;
  }
  .add_header_nav__item span {
    display: block;
    margin: 0 auto;
  }
  .add_header_nav__item svg {
    width: 20px;
    height: 20px;
  }
  .add_header_nav__cartdot {
    top: 11px;
    right: 7px;
  }
  .add_header_btm {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .add_header_btn {
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-family: Lato;
    color: #000;
    font-size: 15px;
    position: relative;
  }
  .add_header_btn_first {
    border-right: 2px solid #dddddd;
  }
  .add_header_btn::after {
    content: "";
    position: absolute;
    border-top: 10px solid #dddddd;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    height: 0;
    width: 0;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .add_header_btn_active {
    color: #cccccc;
  }
  .add_header_btn_active::after {
    -webkit-transform: translateY(-50%) rotateX(180deg);
            transform: translateY(-50%) rotateX(180deg);
  }
  .add_header_menu {
    width: 100%;
    max-height: calc(100vh - 200px);
    padding: 25px 15px;
    position: absolute;
    background: #ffffff;
    display: none;
  }
  .add_header_menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    pointer-events: none;
  }
  .add_header_menu_brand::after {
    height: 50px;
  }
  .add_header_menu__inner {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
    padding-bottom: 100px !important;
  }
  .add_header_menu__item {
    list-style: none;
    font-family: Lato;
    color: #1C1B1B;
    border-bottom: 1px solid #dddddd;
  }
  .add_header_menu__item:first-of-type {
    border-top: 1px solid #dddddd;
  }
  .add_header_menu__item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 12px;
  }
}

.add_CollectionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 50px;
}

@media screen and (max-width: 1000px) {
  .add_CollectionList {
    padding: 30px 12px;
  }
  .add_CollectionList_header {
    padding: 0;
  }
}

.add_CollectionItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(25% - 30px);
  margin-bottom: 40px;
}

.add_CollectionItem__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5px;
  height: 12.25vw;
}

.add_CollectionItem__img img {
  width: 100%;
  height: 100%;
}

.add_CollectionItem__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  font-family: Lato;
  color: #1c1b1b;
}

@media screen and (max-width: 1000px) {
  .add_CollectionItem {
    width: calc(50% - 6px);
    margin-bottom: 30px;
  }
  .add_CollectionItem__img {
    height: 27.84vw;
  }
  .add_CollectionItem__title {
    font-size: 12px;
  }
}

#dokopoiCartBody {
  padding-top: 15px !important;
  padding-bottom: 30px !important;
}

.dokopoiFieldGroup {
  display: block !important;
}

#dokopoiMainLabel {
  padding-bottom: 5px !important;
}

#dokopoiPointField {
  padding: 8px 10px !important;
  font-size: 12px !important;
}

#dokopoiPointField::-webkit-input-placeholder {
  color: #dddddd;
}

#dokopoiPointField:-ms-input-placeholder {
  color: #dddddd;
}

#dokopoiPointField::-ms-input-placeholder {
  color: #dddddd;
}

#dokopoiPointField::placeholder {
  color: #dddddd;
}

#dokopoiCartBody a {
  text-decoration: underline;
}

#dokopoiSubmit {
  text-decoration: none !important;
}

#dokopoiSubmit,
#dokopoiReset {
  max-width: 200px !important;
  font-size: 12px !important;
  padding: 8px 10px !important;
  background: #1C1B1B !important;
}

.order-history {
  font-size: 14px !important;
}

.order-history tr {
  padding: 15px !important;
}

.order-history {
  font-size: 14px !important;
}

.order-history tr {
  padding: 15px !important;
}

.add_cart_total_usepoint {
  margin-bottom: 0;
}

.add_cart_total_usepoint span {
  text-decoration: line-through;
}

.socialplus-association-button-wrapper {
  background: #393e42;
  color: white;
  border-radius: 5px;
}
/*# sourceMappingURL=add.css.map */